.fa-react{
    
    animation: reactLogo 5s infinite;
}

@keyframes reactLogo{
    from{ transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}

.logo{
    height: 35px;
    margin-left: 10px;
}

.main{
    margin-left: 750px;
}

.btn6{
    margin-left: 350px;
}

.btn7{
    margin-left: 50px;
}

.text1{
    margin-top: 70px;
    margin-left: 350px;
    width: 500px;
}

.text2{
    margin-top: 70px;
    margin-left: 350px;
    width: 500px;
}

.text3{
    margin-top: 70px;
    margin-left: 350px;
    width: 500px;
}

.text-black
{
    margin-top: 30px;
    height: 90px;
    width: 1000px;
}

